// Colors
$blue: #328fc2;
$nav-hover: #006899;
$purple: #650360;
$body-text: #505050;
$mobile-bg: #bbd8c4;
$table-bg-even: #eef5f0;
$table-bg-odd: #ddebe1;
$footer-bg: #e7e8e9;

// Fonts
$logo-font: 'Futura', 'Trebuchet MS', 'Arial', sans-serif;
$main-font: 'Helvetica Neue', Arial, sans-serif;